@media (max-width: 700px){
    .ta{
        width: 60vw;
    }
}
@media (max-width: 350px){
    fieldset {
        border: 1px solid aqua;
        padding: 10px 5px;
        border-radius: 5px;
    }
}
